<div class="guess">
  <div class="guess-p">
    <div class="info t">
      <p v-html="info.guess[0].title"></p>
    </div>
    <pre class="info" v-html="info.guess[0].content[0]">
    </pre>
    <pre class="info" v-html="info.guess[0].content[1]">
    </pre>
    <div class="info t">
    	<template v-if="user">
    		<p>用户情况</p>
    		<br/>
			<div class="tdd">
				<div>
					<div>用户手机号</div>
					<div>{{user.cell}}</div>
				</div>
				<br/>
				<div>
					<div>游戏点数</div>
					<div>{{user.point}}</div>
				</div>
				<br/>
				<div>
					<div>消费点数</div>
					<div>{{user.coin}}</div>
				</div>
				<br/>
				<div>
					<div>消费额度</div>
					<div>{{user.limit}}</div>
				</div>
				<br/>
				<div>
					<div>竞猜次数</div>
					<div>{{user.guess.length}}</div>
				</div>
				<br/>
				<div>
					<div>本月已登录天数</div>
					<div>{{user.logindays}}</div>
				</div>
			</div>
			<br/>
			<!-- <template v-if='guess && guess.length > 0'>
				<br/>
				<p>竞猜记录</p>
				<br/>
				<table class="bd">
					<thead>
						<tr>
							<td>竞猜编号</td>
							<td>题目名称</td>
							<td>起始日期</td>
							<td>截止日期</td>
							<td>最终结果</td>
							<td>总点数</td>
							<td>总人次</td>
							<td>目前状态</td>
							<td>奖励分配情况</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="v,k in guess">
							<td>{{v.pointid}}</td>
							<td>{{v.question}}</td>
							<td>{{new Date(v.created_at).toLocaleString()}}</td>
							<td>{{new Date(v.date).toLocaleString()}}</td>
							<td>{{getresult(v)}}</td>
							<td>{{v.item.totalpoint}}</td>
							<td>{{v.item.times}}</td>
							<td>{{v.item.state == 0 ? '进行中': '结束'}}</td>
							<td>{{(v.final == v.optionid) ? ('获得'+v.pit*v.perpoint+'点奖励') :''}}</td>
						</tr>
					</tbody>
				</table>
			</template> -->
		</template>
	</div>
  </div>
</div>