<div class="nav">
	<div class="link-block">
		<i class="link-btn icon"></i>
		<div class="mask"></div>
		<div class="links">
			<a href="/mobile/guessmenu">热门竞猜</a>
			<a href="/mobile/shopmenu">精彩生活</a>
			<a href="#">账户信息</a>
		</div>
	</div>
	<div class="title">一起竞猜吧</div>
	<a class="profile-link" href="#"><i class="icon"></i></a>
</div>