<div class="reg" v-bind:class="slide?'on':''">
	<div class="headline on">
		<!-- <img class="banner" src="/img/engineer/top1.png" /> -->
		<img class="banner" src="https://p1.music.126.net/_e3ocKDveil6qh3Ijcz2uA==/109951163961161899.png" />
		<!-- <img class="back" src="/img/engineer/exit.png" @click='back' /> -->
		<img class="back" src="https://p1.music.126.net/eCkdwaw28dClhnsf79LaAA==/109951163961162346.png" @click='$emit("back")' />
	</div>
	<div class="regbg">
		<img  src="https://p1.music.126.net/iWXSh17jmRJOLAan0CcGjg==/109951163961274412.png" />
	</div>
	<div class="regtitle">注册信息</div>
	<div  class="regsub">REGISTRATION INFORMATION</div>
	<label class="reglabel">
		<div>姓名</div>
		<input v-model="name" />
	</label>
	<label class="reglabel">
		<div>公司</div>
		<input v-model="company" />
	</label>
	<label class="reglabel">
		<div>手机</div>
		<input v-model="phone" />
	</label>
	<label class="reglabel">
		<div>邮箱</div>
		<input v-model="mail" />
	</label>
	<label class="reglabel">
		<div>职务</div>
		<select v-model="work">
				<option value=""></option>
				<option value="1">架构师，设计师或工程师</option>
				<option value="2">业务经销商</option>
				<option value="3">消费者/个人</option>
				<option value="4">总包商</option>
				<option value="5">电工</option>
				<option value="6">政府机关</option>
				<option value="7">学生</option>
				<option value="8">大型企业</option>
				<option value="9">原始设备制造商(OEM)</option>
				<option value="10">盘厂</option>
				<option value="11">零售商</option>
				<option value="12">服务供应商</option>
				<option value="13">中小型企业</option>
				<option value="13">系统集成商</option>
				<option value="13">批发分销商</option>
		</select>
	</label>
	<label  class="reglabellast">
		<div class="checkbox">
		<input type="checkbox" v-model="check" />
		</div>
		<div class="tip">
			我同意通过电子通信方式和（如电子邮件）接受施耐德电气及其附属公司的产品新闻和商业广告信息。有关更多详情，请在以下页脚处阅读我们的隐私政策。
		</div>
	</label>
	<div class="regbtn" @click="submit"></div>
	<div class="regpop" v-bind:class="showpop?'':'small'">
		<div class="regbtnconfirm" @click="confirm"></div>
	</div>
</div>