<div class="survey">
	<img class='title' src="/img/engineer/survey1.png" />
	<div class='question'>
		在您解除的医疗行业企业或项目过程中，您密切相关的是哪类解决方案及产品（多选，最多选3类）：
	</div>
	<div class='answer'>
			<div class='option'>
				<input type='radio' @change="change" value='1' name="p1" v-model='p1' />
				<div>楼宇控制解决方案</div>
			</div>
			<div class='option'>
				<input type='radio' @change="change" value='2' name="p1" v-model='p1' />
				<div>电能质量管理，如仪表、谐波检测、电容电抗等</div>
			</div>
			<div class='option'>
				<input type='radio' @change="change" value='3' name="p1" v-model='p1' />
				<div>平台集成，能效管理及运维平台，手术室一体化管控平台用电安全，比如备用电源、绝缘监测等供电持续性方案从建设到维保的全生命周期服务</div>
			</div>
	</div>
	<div class='question'>
		您接触的数据中心项目中，最想了解施耐德电气以下哪部分的解决方案：
	</div>
	<div class='answer'>
			<div class='option'>
				<input type='radio' @change="change" value='1' name="p2" v-model='p2' />
				<div>楼控系统方案</div>
			</div>
			<div class='option'>
				<input type='radio' @change="change" value='2' name="p2" v-model='p2' />
				<div>能源管理解决方案</div>
			</div>
			<div class='option'>
				<input type='radio' @change="change" value='3' name="p2" v-model='p2' />
				<div>综合布线解决方案</div>
			</div>
	</div>
	<div class='question'>
		您所在的企业或项目，提升能源效率的需求是否强烈？
	</div>
	<div class='answer'>
			<div class='option'>
				<input type='radio' @change="change" value='1' name="p3" v-model='p3' />
				<div>非常强烈</div>
			</div>
			<div class='option'>
				<input type='radio' @change="change" value='2' name="p3" v-model='p3' />
				<div>感觉一般</div>
			</div>
			<div class='option'>
				<input type='radio' @change="change" value='3' name="p3" v-model='p3' />
				<div>几乎没有</div>
			</div>
	</div>
	<div class='question'>
		您所在的企业或项目，业主是否能在资产月报中查看当前能源效能的数据？
	</div>
	<div class='answer'>
			<div class='option'>
				<input type='radio' @change="change" value='1' name="p4" v-model='p4' />
				<div>能</div>
			</div>
			<div class='option'>
				<input type='radio' @change="change" value='2' name="p4" v-model='p4' />
				<div>不能</div>
			</div>
			<div class='option'>
				<input type='radio' @change="change" value='3' name="p4" v-model='p4' />
				<div>不清楚</div>
			</div>
	</div>
	<div class='question'>
		关于选择楼宇自控网络化，您最关心的是？
	</div>
	<div class='answer'>
			<div class='option'>
				<input type='radio' @change="change" value='1' name="p5" v-model='p5' />
				<div>可能性及稳定性</div>
			</div>
			<div class='option'>
				<input type='radio' @change="change" value='2' name="p5" v-model='p5' />
				<div>大数据收集</div>
			</div>
			<div class='option'>
				<input type='radio' @change="change" value='3' name="p5" v-model='p5' />
				<div>便捷施工</div>
			</div>
			<div class='option'>
				<input type='radio' @change="change" value='4' name="p5" v-model='p5'/>
				<div>易于调试及维护</div>
			</div>
	</div>
	<div class='question'>
		关于云效能顾问，您最关心的问题是？
	</div>
	<div class='answer'>
			<div class='option'>
				<input type='radio' @change="change" value='1' name="p6" v-model='p6' />
				<div>可能性及稳定性</div>
			</div>
			<div class='option'>
				<input type='radio' @change="change" value='2' name="p6" v-model='p6' />
				<div>大数据收集</div>
			</div>
			<div class='option'>
				<input type='radio' @change="change" value='3' name="p6" v-model='p6' />
				<div>便捷施工</div>
			</div>
			<div class='option'>
				<input type='radio' @change="change" value='4' name="p6" v-model='p6' />
				<div>易于调试及维护</div>
			</div>
	</div>
	<div class="btn" @click="submit"></div>
</div>