@charset "utf-8";
/*--base style--*/
*{margin:0;padding:0;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-touch-callout: none;}
body{
  color:#333;
  font-size: 14px;
  line-height: 1.5;
}
body,input,textarea,button{
  font:12px/1.5 "Microsoft Yahei",arial,sans-serif;
  -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
li{list-style-type: none;}
a{text-decoration: none;color: #666;}
/*--common style--*/
.hide{
  display: none !important;
}
.fl{
  float:left;
}
.fr{
  float: right;
}
.f1{
  flex: 1;
}
.tc{
  text-align: center;
}

/*content style*/
.swiper-container {
  width: 100vw;
  height: 100vh;
}
.headline {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}
.headline .banner {
  display: block;

}
.headline .back {
  display: block;
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: red;
}

