<div class="main">
  <div>
    <label>一级分类</label>
    <select v-model="filter.firsttype">
      <option value="0">请选择</option>
      <option v-for="option in options.firsttypelist" :value="option.num"  >{{option.name}}</option>
    </select>&nbsp;
    <label>二级分类</label>
    <select v-model="filter.secondtype">
      <option value="0">请选择</option>
      <option v-for="option in options.secondtypelist"
        v-show="isshowfiltersecond(option)"
        :value="option.num"  >{{option.name}}</option>
    </select>&nbsp;
    <label>三级分类</label>
    <select v-model="filter.thirdtype">
      <option value="0">请选择</option>
      <option v-for="option in options.thirdtypelist"
        v-show="isshowfilterthird(option)"
        :value="option.num"  >{{option.name}}</option>
    </select>
  </div>
  <br/>
  <table>
    <thead>
      <tr>
        <td v-for="(item, index) in tablehead">{{item.name}}</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody>
      <tr v-for="question in questionlist" class="alerttable" :class="geton(question.date)">
        <td v-for="(item, index) in tablehead">
          <template v-if="!item.type">
            <span>
              {{question[item.key]}}
            </span>
          </template>
          <template v-if="item.type=='state'">
            <span>
              {{options.states[question[item.key]]}}
            </span>
          </template>
          <template v-if="item.type=='date'">
            <span>
              {{new Date(question[item.key]||new Date()).toLocaleString()}}
            </span>
          </template>
          <template v-if="item.type=='list'">
            <span v-if="question.final">{{question[item.key][question.final]}}</span>
            <select v-if="!question.final" v-model="question.final">
              <option v-for="li,k in question[item.key]" :value="k" >
                {{li}}
              </option>
            </select>
          </template>
        </td>
        <td>
          <a v-if="question.state != 2" @click="calt(question)">结算</a>
          <span v-if="question.state == 2">已结算</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pager">
    <div class="page" @click="page('start')">第一页</div>
    <div v-if="pager.page >3">...</div>
    <div class="page" @click="page(-2)" v-if="pager.page >2">{{pager.page-2}}</div>
    <div class="page" @click="page(-1)" v-if="pager.page >1">{{pager.page-1}}</div>
    <div class="page now" @Click="page(0)">{{pager.page}}</div>
    <div class="page" @click="page(1)" v-if="pager.page <Math.ceil(pager.total/pager.limit)">{{pager.page+1}}</div>
    <div class="page" @click="page(2)" v-if="pager.page <Math.ceil(pager.total/pager.limit)-1">{{pager.page+2}}</div>
    <div v-if="pager.page < (Math.ceil(pager.total/pager.limit)-2)">...</div>
    <div class="page" @click="page('end')">最后页</div>
  </div>
</div>