<div class="main">
  <div>
    <select v-model="type">
      <option v-for="(v,k) in types" :value="v.num">{{v.name}}</option>
    </select>&nbsp;&nbsp;
    <input :type="type == 1 ? 'date' : 'text'" v-model="searchinfo" />
    <button @click="search()">搜索</button>
  </div>
  <br/>
  <table>
    <thead>
      <tr>
        <td v-for="(item, index) in tablehead">{{item.name}}</td>
        <!-- <td>操作</td> -->
      </tr>
    </thead>
    <tbody>
      <tr v-for="guess in guesslist">
        <td v-for="(item, index) in tablehead">
          <span v-if="!(item.edit && guess.edit)">
            {{guess[item.key]}}
          </span>
          <span v-if="item.edit && guess.edit">
            <input v-else type="text" v-model="guess[item.key]">
          </span>
        </td>
        <!-- <td>
          <a @click="change(guess)">修改</a>
          <a @click="save(guess)">保存</a>
          <a @click="remove(guess)">删除</a>
        </td> -->
      </tr>
    </tbody>
  </table>
  <div class="pager">
    <div class="page" @click="page('start')">第一页</div>
    <div v-if="pager.page >3">...</div>
    <div class="page" @click="page(-2)" v-if="pager.page >2">{{pager.page-2}}</div>
    <div class="page" @click="page(-1)" v-if="pager.page >1">{{pager.page-1}}</div>
    <div class="page now" @Click="page(0)">{{pager.page}}</div>
    <div class="page" @click="page(1)" v-if="pager.page <Math.ceil(pager.total/pager.limit)">{{pager.page+1}}</div>
    <div class="page" @click="page(2)" v-if="pager.page <Math.ceil(pager.total/pager.limit)-1">{{pager.page+2}}</div>
    <div v-if="pager.page < (Math.ceil(pager.total/pager.limit)-2)">...</div>
    <div class="page" @click="page('end')">最后页</div>
  </div>
  <div>
    <!-- <a class="btn" @click="newitem">添加新竞猜</a> -->
  </div>
</div>