<div class="main">
  <div>
    <label>一级分类</label>
    <select v-model="filter.firsttype">
      <option value="0">请选择</option>
      <option v-for="option in options.firsttypelist" :value="option.num"  >{{option.name}}</option>
    </select>
  </div>
  <br/>
  <table>
    <thead>
      <tr>
        <td v-for="(item, index) in tablehead">{{item.name}}</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody>
      <tr v-for="secondtype in secondtypelist" v-show="isshow(secondtype)">
        <td v-for="(item, index) in tablehead">
          <template v-if="!item.type">
            <input type="text" v-model="secondtype[item.key]" :disabled="!(item.edit && secondtype.edit)">
          </template>
          <template v-if="item.type=='select'">
            <select v-model="secondtype[item.key]" :disabled="!(item.edit && secondtype.edit)">
              <option v-for="(v, k) in options[item.option]" :value="v.num">{{v.name}}</option>
            </select>
          </template>
          <template v-if="item.type=='date'">
            <span>{{new Date(secondtype[item.key]||new Date()).toLocaleString()}}</span>
          </template>
        </td>
        <td>
          <a @click="change(secondtype)">修改</a>
          <a @click="save(secondtype)">保存</a>
          <a @click="remove(secondtype)">删除</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <a class="btn" @click="newitem">添加二级分类</a>
  </div>
</div>