<% include ./layout/head.ejs %>
<body class="index">
	<div id="main" class="main">
		<div class="logo icon"></div>
		<div class="index-btns" id="J-step1">
			<a href="/mobile/login" class="big-btn">登录</a>
			<a href="/mobile/sign" class="small-btn">注册</a>
		</div>
		<div class="index-btns hide" id="J-step2">
			<a href="/mobile/guessmenu" class="big-btn">热门竞猜</a>
			<a href="/mobile/shopmenu" class="small-btn disable">精彩生活</a>
		</div>
	</div>
<% include ./layout/foot.ejs %>