<% include ./layout/head.ejs %>
<% include ./layout/nav.ejs %>
	<div class="main" id="main">
		<form class="user-form">
			<div class="form-line">
				<label>手机号</label>
				<input type="text" placeholder="请输入您的手机号" />
			</div>
			<div class="form-line">
				<label>密码</label>
				<input type="password" placeholder="请输入您的密码" />
			</div>
			<div class="form-line">
				<label>确认密码</label>
				<input type="password" placeholder="请确认您的密码" />
			</div>
			<button>注&nbsp;册</button>
		</form>
	</div>
<% include ./layout/foot.ejs %>